
.navbar {
  display: flex;                   
  justify-content: space-between;   
  align-items: center;              
  background-color: var(--color-primary);
  padding: 0 40px; 
  
  @media (max-width: 600px) {
    background-color: var(--color-primary); 
    flex-direction: column;
    justify-content: center;       
    padding: 16px 20px 0;  
  }
}

.logo {
  cursor: pointer;
  width: auto; 
  height: auto;
  object-fit: contain;
  
  @media (max-width: 600px) {
    width: 200px; 
    margin-bottom: 16px; 
  }
}


.navButtons {
  display: flex;                    
  gap: 4px; 
  
  @media (max-width: 600px) {
    justify-content: center;
    width: 100%;
  }                       
}


.navButton {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: transparent;    
  transition: background-color 0.2s; 

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
}


.active {
  background-color: var(--color-accent); 
  color: white;

  &:hover {
    background-color: var(--color-accent); 
  }
}