.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  padding: 1.25rem 2.5rem;
  max-width: 75rem;
  margin: 0 auto;
  justify-content: center;
}


@media (max-width: 1024px) {
  .grid {

    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;

    width: 90%;
    max-width: 325px;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }
}